@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap');

body,
*,
a {
	box-sizing: border-box;
	/* text-decoration: none; */
	font-size: 1.25rem;
	font-family: 'Ubuntu', sans-serif;
}
.Repo {
	margin: auto;
	margin-top: 50px;
	width: 600px;
}
.Repo__form {
	display: flex;
}
.Repo__form-input {
	padding: 10px;
	width: 70%;
	border-radius: 20px;
}
.Repo__form-search {
	padding: 10px;
	width: 30%;
	cursor: pointer;
	border: none;
}
.Repo__list {
	width: 100%;
	cursor: pointer;
	display: block;
	padding: 10px;
	color: black;
}
