@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap');

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body,
*,
a {
	box-sizing: border-box;
	text-decoration: none;
	font-size: 1.25rem;
	font-family: 'Ubuntu', sans-serif;
}
.Repo {
	margin: auto;
	margin-top: 50px;
	width: 600px;
}
.Repo__form {
	display: flex;
	margin: 20px 0;
}
.Repo__form-input {
	padding: 10px;
	width: 70%;
	border-radius: 20px;
}
.Repo__form-search {
	padding: 10px;
	width: 30%;
	cursor: pointer;
	border: none;
}
.Repo__list {
	width: 100%;
	display: block;
	padding: 10px 0;
	color: black;
	border-bottom: 1px solid grey;
}

.Repo__list > a {
	color: black;
	display: block;
}
