body,
*,
a {
	box-sizing: border-box;
	text-decoration: none;
	font-size: 1.25rem;
}

.Repo {
	border: 1px solid red;
	margin: auto;
	margin-top: 50px;
	width: 600px;
}

.Repo__form {
	border: 1px solid blue;
	display: flex;
}
.Repo__form-input {
	padding: 10px;
	width: 70%;
}
.Repo__form-search {
	padding: 10px;
	border: 1px solid red;
	width: 30%;
	border-radius: 20px;
	cursor: pointer;
}

.Repo__list {
	background: yellow;
}
.Repo__list-link {
	width: 100%;
	border: 1px solid red;
	cursor: pointer;
}
